@{
    ViewBag.Title = "Gallery";
}

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="highcharts, charts, javascript charts, ajax charts, plots, line charts, bar charts, pie charts, javascript plots, ajax plots" />
    <meta name="description" content="Highcharts - Interactive ASP.NET MVC charts for your web pages." />
    <title>Basic line</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/highslide.css")" type="text/css" />
    <link rel="stylesheet"  href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/font-awesome.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/template.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/gallery.css")" type="text/css" />
       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/highslide-full.min.js")"" type="text/javascript"></script>
    <script src=" @Url.Content("~/Scripts/highslide.config.js")"" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>

    <script type="text/javascript">

       

        var example = 'line-basic',
        theme = 'default';
      
        jQuery(document).ready(function () {

            fixNavigation();

            jQuery("#view-menu").click(function (e) {
                jQuery("#wrap").toggleClass("toggled");
            });
            jQuery("#sidebar-close").click(function (e) {
                jQuery("#wrap").removeClass("toggled");
            });
            // key listeners for the previous and next arrows
            jQuery(document).keydown(function (e) {
                var anchor;
                if (e.target.tagName != 'INPUT') {
                    if (e.keyCode == 39) {
                        anchor = document.getElementById('next-example');

                    } else
                        if (e.keyCode == 37) {
                            anchor = document.getElementById('previous-example');
                        }

                    if (anchor) {
                        location.href = anchor.href;
                    }
                }
            });
            // Bind event to style change switcher
            jQuery('#switcher-selector').bind('change', function () {
                var url = jQuery(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });

        function fixNavigation() {
            var example = window.location.href.split("=")[1].split("&")[0];
            var currentLink = exampleToHyphens(example);
            var sideBar = $(".nav-sidebar");
            var sideBarLinks = sideBar.find("li a");

            sideBar.find("ul").css("display", "none");

            $(".nav-sidebar li a").each(function (index, link) {
                var href = $(link).attr("aria-label");
                var hrefSplitArray = href.split("/");
                var hrefTag = hrefSplitArray[hrefSplitArray.length - 1];

                if (currentLink == hrefTag) {
                    $(link).parent().addClass("active");
                    $(link).parent().parent().css("display", "block");
                    $(link).parent().parent().parent().addClass("active");

                    $(".demo-name").html("<a href='#'>Highcharts Demos</a> &rsaquo; " + $(link).text());

                    if (index < $(".nav-sidebar li a").length - 1) { 
                        var nextHref = $(sideBarLinks.get(index + 1)).attr("href");
                        $(".chart-container").find("#next-example").attr("href", nextHref);
                    }

                    if (index > 0 ) {
                        var prevHref = $(sideBarLinks.get(index - 1)).attr("href");
                        $(".chart-container").find("#previous-example").attr("href", prevHref);
                    }
                }                
            });
            
        }

        function exampleToHyphens(word) {
            var result = "";
            for (var i = 0; i < word.length; i++) {
                if (isUpperCase(word[i]) && i > 0) {
                    result += "-" + word[i].toLowerCase();
                }
                else {
                    result += word[i].toLowerCase();
                }
            }

            return result;
        }

        function isUpperCase(character) {
            return (character == character.toUpperCase());
        }
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2995052-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div id="menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <a class="navbar-brand" href="/highcharts/demo" title="Highcharts">
                        <img src="@Url.Content("~/Content/logo.svg")" alt="Highcharts" />
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div id="menu-container">
                        <div id="menu-second" class="hidden-xs">

                            <ul class="nav navbar-nav pull-right">
                                <li class="item-112"><a href="/about">About Us</a></li>
                                <li class="item-113 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="item-121"><a href="/products/highcharts">Highcharts</a></li>
                                        <li class="item-122"><a href="/products/highstock">Highstock</a></li>
                                        <li class="item-210"><a href="/products/highmaps">Highmaps</a></li>
                                        <li class="item-213"><a href="http://cloud.highcharts.com/">Highcharts Cloud</a></li>
                                        <li class="item-123"><a href="http://highslide.com/">Highslide JS</a></li>
                                    </ul>
                                </li>
                                <li class="item-218"><a href="/blog">Blog</a></li>
                                <li class="item-114"><a href="/contact-email">Contact</a></li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                        <div id="menu-main">
                            <ul class="nav navbar-nav pull-right">
                                <li class="item-101"><a href="/highcharts/demo">Home</a></li>
                                <li class="item-103 active deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="item-106 current active"><a href="http://www.highcharts.com/demo">Highcharts demos</a></li>
                                        <li class="item-107"><a href="http://www.highcharts.com/stock/demo">Highstock demos</a></li>
                                        <li class="item-205"><a href="http://www.highcharts.com/maps/demo">Highmaps demo</a></li>
                                        <li class="item-205"><a href="/highcharts/demo">Highcharts ASP.NET MVC demo</a></li>
                                        <li class="item-107"><a href="/downloads/Highcharts_ASPNET_MVC_4_1_7_0.zip">Highcharts for ASP.NET MVC 30-day trial</a></li>
                                        <li class="item-205"><a href="/downloads/Highcharts_ASPNET_MVC_Licensed_4_1_7_0.zip">Highcharts for ASP.NET MVC Licensed</a></li>
                                        <li class="item-205"><a href="/downloads/Highcharts_ASPNET_MVC_Source_4_1_7_0.zip">Highcharts for ASP.NET MVC Licensed + Source Code</a></li>
                                    </ul>
                                </li>
                                <li class="item-108 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="item-128"><a href="/docs">General Documentation</a></li>
                                        <li class="item-124"><a href="http://api.highcharts.com/highcharts">Highcharts API Reference</a></li>
                                        <li class="item-125"><a href="http://api.highcharts.com/highstock">Highstock API Reference</a></li>
                                        <li class="item-211"><a href="http://api.highcharts.com/highmaps">Highmaps API Reference</a></li>
                                        <li class="item-124"><a href="~/help/index.html">Highcharts ASP.NET MVC API Reference</a></li>
                                        <li class="item-126"><a href="/documentation/compatibility">Compatibility</a></li>
                                        <li class="item-127"><a href="/documentation/changelog">Changelog</a></li>
                                    </ul>
                                </li>
                                <li class="item-109 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Support <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="item-110"><a href="/support">Support</a></li>
                                        <li class="item-129"><a href="/support/roadmap">Roadmap</a></li>
                                        <li class="item-201"><a href="/download">Download</a></li>
                                        <li class="item-208"><a href="http://forum.highcharts.com/">Forum</a></li>
                                    </ul>
                                </li>
                                <li class="item-111"><a href="/plugin-registry">Plugins</a></li>
                                <li class="item-115"><a href="http://shop.highsoft.com/">Shop</a></li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                        <div id="mobile-second" class="visible-xs">

                            <ul class="nav navbar-nav pull-right">
                                <li class="item-112"><a href="/about">About Us</a></li>
                                <li class="item-113 deeper dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Products <span class="toggle-arrow"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="item-121"><a href="/products/highcharts">Highcharts</a></li>
                                        <li class="item-122"><a href="/products/highstock">Highstock</a></li>
                                        <li class="item-210"><a href="/products/highmaps">Highmaps</a></li>
                                        <li class="item-213"><a href="http://cloud.highcharts.com/">Highcharts Cloud</a></li>
                                        <li class="item-123"><a href="http://highslide.com/">Highslide JS</a></li>
                                    </ul>
                                </li>
                                <li class="item-218"><a href="/blog">Blog</a></li>
                                <li class="item-114"><a href="/contact-email">Contact</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="hs-slider">
        <div class="container">
        </div>
    </div>
    <div id="hs-clients">
        <div class="container">
        </div>
    </div>
    <div id="hs-component">
        <div class="container">
            <div id="wrap" class="sidebar-wrapper">
                <div id="comp-menu" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-xs">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9"></div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 cont">
                        <h2 class="demo-name"></h2>
                        <div class="btn-group theme">
                          @*  <a class="btn btn-theme @ViewBag.DefaultDisabled" href="?theme=default">Default</a>
                            <a class="btn btn-theme @ViewBag.DarkUnicaDisabled" href="?theme=dark-unica">Dark Unica</a>
                            <a class="btn btn-theme @ViewBag.SandSignikaDisabled" href="?theme=sand-signika">Sand Signika</a>
                            <a class="btn btn-theme @ViewBag.GridLightDisabled" href="?theme=grid-light">Grid Light</a>*@
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <div class="active"><span>Line charts</span><icon class="toggle"></icon></div>
                            <ul style="display: block;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/line-basic" href="@Url.Action("Gallery", "Demo", new { demo = "LineBasic", theme = ViewBag.Theme } )">Basic line						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/line-ajax" href="@Url.Action("Gallery", "Demo", new { demo = "LineAjax", theme = ViewBag.Theme } )">Ajax loaded data, clickable points						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/line-labels" href="@Url.Action("Gallery", "Demo", new { demo = "LineLabels", theme = ViewBag.Theme } )">With data labels						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/line-time-series" href="@Url.Action("Gallery", "Demo", new { demo = "LineTimeSeries", theme = ViewBag.Theme } )">Time series, zoomable						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/spline-inverted" href="@Url.Action("Gallery", "Demo", new { demo = "SplineInverted", theme = ViewBag.Theme } )">Spline with inverted axes						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/spline-symbols" href="@Url.Action("Gallery", "Demo", new { demo = "SplineSymbols", theme = ViewBag.Theme } )">Spline with symbols						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/spline-plot-bands" href="@Url.Action("Gallery", "Demo", new { demo = "SplinePlotBands", theme = ViewBag.Theme } )">Spline with plot bands						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/spline-irregular-time" href="@Url.Action("Gallery", "Demo", new { demo = "SplineIrregularTime", theme = ViewBag.Theme } )">Time data with irregular intervals						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/line-log-axis" href="@Url.Action("Gallery", "Demo", new { demo = "LineLog", theme = ViewBag.Theme } )">Logarithmic axis						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Area charts</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/area-basic" href="@Url.Action("Gallery", "Demo", new { demo = "AreaBasic", theme = ViewBag.Theme } )">Basic area						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/area-negative" href="@Url.Action("Gallery", "Demo", new { demo = "AreaNegative", theme = ViewBag.Theme } )">Area with negative values						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/area-stacked" href="@Url.Action("Gallery", "Demo", new { demo = "AreaStacked", theme = ViewBag.Theme } )">Stacked area						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/area-stacked-percent" href="@Url.Action("Gallery", "Demo", new { demo = "AreaStackedPercent", theme = ViewBag.Theme } )">Percentage area						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/area-missing" href="@Url.Action("Gallery", "Demo", new { demo = "AreaMissing", theme = ViewBag.Theme } )">Area with missing points						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/area-inverted" href="@Url.Action("Gallery", "Demo", new { demo = "AreaInverted", theme = ViewBag.Theme } )">Inverted axes						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/areaspline" href="@Url.Action("Gallery", "Demo", new { demo = "AreaSpline", theme = ViewBag.Theme } )">Area-spline						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/arearange" href="@Url.Action("Gallery", "Demo", new { demo = "AreaRange", theme = ViewBag.Theme } )">Area range						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/arearange-line" href="@Url.Action("Gallery", "Demo", new { demo = "ArearangeLine", theme = ViewBag.Theme } )">Area range and line						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/sparkline" href="@Url.Action("Gallery", "Demo", new { demo = "Sparkline", theme = ViewBag.Theme } )">Sparkline charts						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Column and bar charts</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/bar-basic" href="@Url.Action("Gallery", "Demo", new { demo = "BarBasic", theme = ViewBag.Theme } )">Basic bar						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/bar-stacked" href="@Url.Action("Gallery", "Demo", new { demo = "BarStacked", theme = ViewBag.Theme } )">Stacked bar						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/bar-negative-stack" href="@Url.Action("Gallery", "Demo", new { demo = "BarNegativeStack", theme = ViewBag.Theme } )">Bar with negative stack						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-basic href="@Url.Action("Gallery", "Demo", new { demo = "ColumnBasic", theme = ViewBag.Theme } )"">Basic column						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-negative" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnNegative", theme = ViewBag.Theme } )">Column with negative values						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-stacked" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnStacked", theme = ViewBag.Theme } )">Stacked column						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-stacked-and-grouped" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnStackedGrouped", theme = ViewBag.Theme } )">Stacked and grouped column						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-stacked-percent" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnStackedPercent", theme = ViewBag.Theme } )">Stacked percentage column						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-rotated-labels" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnRotated", theme = ViewBag.Theme } )">Column with rotated labels						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-drilldown" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnDrilldown", theme = ViewBag.Theme } )">Column with drilldown						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-placement" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnPlacement", theme = ViewBag.Theme } )">Fixed placement columns						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/column-parsed" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnParsed", theme = ViewBag.Theme } )">Data defined in a HTML table						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/columnrange" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnRange", theme = ViewBag.Theme } )">Column range						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Pie charts</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-basic" href="@Url.Action("Gallery", "Demo", new { demo = "PieBasic", theme = ViewBag.Theme } )">Pie chart						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-legend" href="@Url.Action("Gallery", "Demo", new { demo = "PieLegend", theme = ViewBag.Theme } )">Pie with legend						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-donut" href="@Url.Action("Gallery", "Demo", new { demo = "PieDonut", theme = ViewBag.Theme } )">Donut chart						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-semi-circle" href="@Url.Action("Gallery", "Demo", new { demo = "PieSemiCircle", theme = ViewBag.Theme } )">Semi circle donut						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-drilldown" href="@Url.Action("Gallery", "Demo", new { demo = "PieDrilldown", theme = ViewBag.Theme } )">Pie with drilldown						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-gradient" href="@Url.Action("Gallery", "Demo", new { demo = "PieGradient", theme = ViewBag.Theme } )">Pie with gradient fill						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pie-monochrome" href="@Url.Action("Gallery", "Demo", new { demo = "PieMonochrome", theme = ViewBag.Theme } )">Pie with monochrome fill						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Scatter and bubble charts</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/scatter" href="@Url.Action("Gallery", "Demo", new { demo = "Scatter", theme = ViewBag.Theme } )">Scatter plot						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/bubble" href="@Url.Action("Gallery", "Demo", new { demo = "Bubble", theme = ViewBag.Theme } )">Bubble chart						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/bubble-3d" href="@Url.Action("Gallery", "Demo", new { demo = "Bubble3d", theme = ViewBag.Theme } )">3D bubbles						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Dynamic charts</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/dynamic-update" href="@Url.Action("Gallery", "Demo", new { demo = "DynamicUpdate", theme = ViewBag.Theme } )">Spline updating each second						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/dynamic-click-to-add" href="@Url.Action("Gallery", "Demo", new { demo = "DynamicClickToAdd", theme = ViewBag.Theme } )">Click to add a point						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/dynamic-master-detail" href="@Url.Action("Gallery", "Demo", new { demo = "DynamicMasterDetail", theme = ViewBag.Theme } )">Master-detail chart						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Combinations</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/combo" href="@Url.Action("Gallery", "Demo", new { demo = "Combo", theme = ViewBag.Theme } )">Column, line and pie						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/combo-dual-axes" href="@Url.Action("Gallery", "Demo", new { demo = "ComboDualAxes", theme = ViewBag.Theme } )">Dual axes, line and column						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/combo-multi-axes" href="@Url.Action("Gallery", "Demo", new { demo = "ComboMultiAxes", theme = ViewBag.Theme } )">Multiple axes						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/combo-regression" href="@Url.Action("Gallery", "Demo", new { demo = "ComboRegression", theme = ViewBag.Theme } )">Scatter with regression line						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/combo-meteogram" href="@Url.Action("Gallery", "Demo", new { demo = "ComboMeteogram", theme = ViewBag.Theme } )">Meteogram						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/combo-timeline" href="@Url.Action("Gallery", "Demo", new { demo = "ComboTimeline", theme = ViewBag.Theme } )">Advanced timeline						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>3D charts</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/3d-column-interactive" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnInteractive3D", theme = ViewBag.Theme } )">3D column						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/3d-column-null-values" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnNullValues3D", theme = ViewBag.Theme } )">3D column with null and 0 values						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/3d-column-stacking-grouping" href="@Url.Action("Gallery", "Demo", new { demo = "ColumnStackingGrouping3D", theme = ViewBag.Theme } )">3D column with stacking and grouping						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/3d-pie" href="@Url.Action("Gallery", "Demo", new { demo = "Pie3D", theme = ViewBag.Theme } )">3D pie						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/3d-pie-donut href="@Url.Action("Gallery", "Demo", new { demo = "PieDonut3D", theme = ViewBag.Theme } )"">3D donut						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/3d-scatter-draggable" href="@Url.Action("Gallery", "Demo", new { demo = "ScatterDraggable3D", theme = ViewBag.Theme } )">3D scatter chart						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Gauges</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/gauge-speedometer" href="@Url.Action("Gallery", "Demo", new { demo = "GaugeSpeedometer", theme = ViewBag.Theme } )">Angular gauge						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/gauge-solid" href="@Url.Action("Gallery", "Demo", new { demo = "SolidGauge", theme = ViewBag.Theme } )">Solid gauge						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/gauge-clock" href="@Url.Action("Gallery", "Demo", new { demo = "GaugeClock", theme = ViewBag.Theme } )">Clock						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/gauge-dual" href="@Url.Action("Gallery", "Demo", new { demo = "GaugeDual", theme = ViewBag.Theme } )">Gauge with dual axes						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/gauge-vu-meter" href="@Url.Action("Gallery", "Demo", new { demo = "GaugeVUMeter", theme = ViewBag.Theme } )">VU meter						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>Heat and tree maps</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/heatmap" href="@Url.Action("Gallery", "Demo", new { demo = "Heatmap", theme = ViewBag.Theme } )">Heat map						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/heatmap-canvas" href="@Url.Action("Gallery", "Demo", new { demo = "HeatMapCanvas", theme = ViewBag.Theme } )">Large heat map						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/treemap-coloraxis" href="@Url.Action("Gallery", "Demo", new { demo = "TreemapColoraxis", theme = ViewBag.Theme } )">Tree map with color axis						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/treemap-with-levels" href="@Url.Action("Gallery", "Demo", new { demo = "TreemapWithLevels", theme = ViewBag.Theme } )">Tree map with levels						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/treemap-large-dataset" href="@Url.Action("Gallery", "Demo", new { demo = "TreemapLargeDataset", theme = ViewBag.Theme } )">Large tree map						</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <div class=""><span>More chart types</span><icon class="toggle"></icon></div>
                            <ul style="display: none;">
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/polar" href="@Url.Action("Gallery", "Demo", new { demo = "Polar", theme = ViewBag.Theme } )">Polar chart						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/polar-spider" href="@Url.Action("Gallery", "Demo", new { demo = "PolarSpider", theme = ViewBag.Theme } )">Spiderweb						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/polar-wind-rose" href="@Url.Action("Gallery", "Demo", new { demo = "PolarWindRose", theme = ViewBag.Theme } )">Wind rose						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/box-plot" href="@Url.Action("Gallery", "Demo", new { demo = "BoxPlot", theme = ViewBag.Theme } )">Box plot						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/error-bar" href="@Url.Action("Gallery", "Demo", new { demo = "ErrorBar", theme = ViewBag.Theme } )">Error bar						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/waterfall" href="@Url.Action("Gallery", "Demo", new { demo = "Waterfall", theme = ViewBag.Theme } )">Waterfall						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/funnel" href="@Url.Action("Gallery", "Demo", new { demo = "Funnel", theme = ViewBag.Theme } )">Funnel chart						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/pyramid" href="@Url.Action("Gallery", "Demo", new { demo = "Pyramid", theme = ViewBag.Theme } )">Pyramid chart						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/polygon" href="@Url.Action("Gallery", "Demo", new { demo = "Polygon", theme = ViewBag.Theme } )">Polygon series						</a>
                                </li>
                                <li class="">
                                    <a aria-label="http://www.highcharts.com/demo/renderer" href="@Url.Action("Gallery", "Demo", new { demo = "Renderer", theme = ViewBag.Theme } )">General drawing						</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar-fill"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq demo">
                    <a id="sidebar-close" class="btn-default visible-xs">&laquo; Hide Menu</a>
                    <div id="chart-switcher" class="visible-xs">
                        <a id="previous-example"><i class="fa fa-angle-left"></i></a>
                        <h2 class="demo-name"></h2>
                        <a id="next-example" title="Next (arrow right)"
                            href="http://www.highcharts.com/demo/line-ajax"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div id="small-switcher" class="visible-xs">
                        <a class="button" id="view-menu" onclick="">Menu &raquo;</a>
                        <select id="switcher-selector">
                            <option value="http://www.highcharts.com/demo/line-basic" selected>Default theme</option>
                            <option value="http://www.highcharts.com/demo/line-basic/dark-unica">Dark Unica</option>
                            <option value="http://www.highcharts.com/demo/line-basic/sand-signika">Sand Signika</option>
                            <option value="http://www.highcharts.com/demo/line-basic/grid-light">Grid Light</option>
                        </select>
                        <div class="clearfix"></div>
                    </div>
                    <div class="chart-container">
                        <a id="previous-example" class="hidden-xs"><i class="fa fa-angle-left"></i></a>

                        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">

                            @Html.Action((string)ViewBag.Demo, "Shared")

                        </div>
                        <a id="next-example" class="чччччhidden-xs" title="Next (arrow right)"
                            href=""><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div id="demo-buttons">
                        <a class="button" href="javascript:"
                            onclick="hs.htmlExpand(this, { width: 800,
					                headingText: 'Demo Controller Code', 
					                wrapperClassName: 'draggable-header' })">Controller Code &raquo;</a>
                        <div class="highslide-maincontent" style="display:none">
                           <pre>@ViewBag.ControllerCode</pre>
                        </div>
                        <a class="button" href="javascript:"
                            onclick="hs.htmlExpand(this, { width: 800,
					                headingText: 'Dempo View Code', 
					                wrapperClassName: 'draggable-header' })">View Code &raquo;</a>
                        <div class="highslide-maincontent" style="display:none">
                            <pre>@ViewBag.ViewCode</pre>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq-fill"></div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div id="hs-below">
        <div class="container">
        </div>
    </div>
    <div id="hs-bottom">
        <div class="container">
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div id="zt-footer-copy">
                    © 2015 Highcharts. All rights reserved.				
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="socials">
                    <div>
                        <a href="https://www.facebook.com/Highcharts" title="Facebook" class="social-icon"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Highcharts" title="Twitter" class="social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="http://www.linkedin.com/company/highsoft-solutions-as" title="LinkedIn" class="social-icon"><i class="fa fa-linkedin"></i></a>
                        <a href="https://github.com/highslide-software/highcharts.com" title="Github" class="social-icon"><i class="fa fa-github"></i></a>
                        <a href="https://www.youtube.com/channel/UCzxXofPTQ0DoT7uIy3Fxw7A"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
